<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = '分类归档',content = ~{::content})}">
<th:block th:fragment="content">
  <!-- <#-- * Template Page of Categorys Archives * * @package custom -->
  <div class="main-content archive-page clearfix">
    <th:block th:each="category : ${categories}">
      <div class="categorys-item">
        <div class="categorys-title">
          <a th:href="${category.status.permalink}" th:text="${category.spec.displayName}">
          </a><span>
            <th:block th:if="${category.status.postCount != 0}"> ：<th:block th:text="${category.status.postCount}">
              </th:block>
            </th:block>
          </span>
        </div>
        <div class="post-lists">
          <div class="post-lists-body" th:with="posts = ${postFinder.listByCategory(1,10,category.metadata.name)}">
            <div class="post-list-item" th:each="post : ${posts}">
              <div class="post-list-item-container">
                <div class="item-label">
                  <div class="item-title"><a th:href="${post.status.permalink}">
                      <th:block th:text="${post.spec.title}"></th:block>
                    </a></div>
                  <div class="item-meta clearfix">
                    <div class="item-meta-date">
                      <th:block th:text="${#dates.format( post.metadata.creationTimestamp, 'yyyy年MM月dd日')}">
                      </th:block>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </div>
</th:block>

</html>