<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{modules/layout :: html(title = null,content = ~{::content})}">
<th:block th:fragment="content">
  <div class="main-content common-page clearfix" x-data="random">
    <div class="common-item">
      <div class="common-title">
        Category : <th:block th:text="${category.spec.displayName}"></th:block>
      </div>
      <div class="post-lists">
        <div class="post-lists-body">
          <th:block th:if="${not #lists.isEmpty(posts.items)}">
            <div class="post-list-item" th:each="post : ${posts}"
              th:attr="x-data=|{post_color: ${theme.config.style.post_color}}|">
              <div class="post-list-item-container " :class="`${post_color ? `bg-${randomColor()}`:''}`">
                <div class="item-label" :class="`${post_color ? `bg-${randomColor()}`:''}`">
                  <div class="item-title"><a th:href="${post.status.permalink}" th:text="${post.spec.title}"></a></div>
                  <div class="item-meta clearfix">
                    <div class="item-meta-ico" :class="`bg-ico-${randomIcon()}`"
                      th:style="|background: url(@{/assets/images/bg-ico.png}) no-repeat;background-size: 40px auto;|">
                    </div>
                    <div class="item-meta-date">
                      <th:block th:text="${#dates.format( post.metadata.creationTimestamp, 'yyyy年MM月dd日')}">
                      </th:block>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
          <th:block th:if="${#lists.isEmpty(posts.items)}">
            <div class="post-list-item">没有找到内容,请换别的关键字进行检索</div>
          </th:block>
        </div>
      </div>
    </div>
    <th:block th:replace="~{modules/widgets/navigator :: navigator(${category.status.permalink}+'/')}"></th:block>
  </div>

</th:block>

</html>