<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = |文章详情 - ${post.spec.title}|,content = ~{::content})}">
<th:block th:fragment="content">
  <th:block th:if="${theme.config.style.post_picture}">
    <th:block th:if="${not #strings.isEmpty(post.spec.cover)}">
      <div class="post-header-thumb <#if !settings.post_color!false>bg-deepgrey<#else >bg-<@fun.randBgColor/></#if>">
        <div class="post-header-thumb-op" th:style="|background-image:url(${post.spec.cover});|"></div>
        <div class="post-header-thumb-cover">
          <div class="post-header-thumb-container">
            <div class="post-header-thumb-title" th:text="${post.spec.title}">
            </div>
            <div class="post-header-thumb-meta">
              <time datetime="${post.metadata.creationTimestamp}" itemprop="datePublished">
                <th:block th:text="${#dates.format(post.metadata.creationTimestamp, 'YYYY年MM月dd日')}"></th:block>
              </time>
              in
              <th:block th:if="${ not #lists.isEmpty(post.categories)}">
                Published on <a th:href="${post.categories[0].status.permalink}"
                  th:text="${post.categories[0].spec.displayName}"></a>
              </th:block>
              with<a href="#comments">
                <th:block th:text="|${post.stats.comment} comment|"></th:block>
              </a>
            </div>
            <div class="post-tags">
              <th:block th:if="${not #lists.isEmpty(post.tags)}">
                <a th:each="tag : ${post.tags}" th:text="${tag.spec.displayName}" th:href="${tag.status.permalink}"></a>
              </th:block>
            </div>
          </div>
        </div>
      </div>
    </th:block>
    <th:block th:if="${ #strings.isEmpty(post.spec.cover)}">
      <div class="post-header-thumb <#if !settings.post_color!false>bg-deepgrey<#else >bg-<@fun.randBgColor/></#if>">
        <div class="post-header-thumb-op"
          style="background-image:url(${theme_base!}/source/images/thumbs/<@fun.randThumbs/>);"></div>
        <div class="post-header-thumb-cover">
          <div class="post-header-thumb-container">
            <div class="post-header-thumb-title" th:text="${post.spec.title}">
            </div>
            <div class="post-header-thumb-meta">
              <time datetime="${post.metadata.creationTimestamp}" itemprop="datePublished">
                Published on <th:block th:text="${#dates.format(post.metadata.creationTimestamp, 'YYYY年MM月dd日')}">
                </th:block>
              </time>
              in
              <th:block th:if="${ not #lists.isEmpty(post.categories)}">
                <a th:href="${post.categories[0].status.permalink}"
                  th:text="${post.categories[0].spec.displayName}"></a>
              </th:block>
              with<a href="#comments">
                <th:block th:text="|${post.stats.comment} comment|"></th:block>
              </a>
              <div class="post-tags">
                <th:block th:if="${not #lists.isEmpty(post.tags)}">
                  <a th:each="tag : ${post.tags}" th:text="${tag.spec.displayName}"
                    th:href="${tag.status.permalink}"></a>
                </th:block>
              </div>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </th:block>
  <article class="main-content <#if settings.post_picture!false>post-page<#else>page-page</#if>" itemscope
    itemtype="http://schema.org/Article">
    <div class="post-header">
      <h1 class="post-title" itemprop="name headline" th:text="${post.spec.title}">

      </h1>
      <div class="post-data">
        <time datetime="${post.metadata.creationTimestamp}" itemprop="datePublished">
          Published on <th:block th:text="${#dates.format(post.metadata.creationTimestamp, 'YYYY年MM月dd日')}"></th:block>
        </time>
        in
        <th:block th:if="${ not #lists.isEmpty(post.categories)}">
          <a th:href="${post.categories[0].status.permalink}" th:text="${post.categories[0].spec.displayName}"></a>
        </th:block>
        with<a href="#comments">
          <th:block th:text="|${post.stats.comment} comment|"></th:block>
        </a>
      </div>
    </div>
    <div id="post-content" class="post-content" itemprop="articleBody">
      <p class="post-tags">
        <th:block th:if="${not #lists.isEmpty(post.tags)}">
          <a th:each="tag : ${post.tags}" th:text="${tag.spec.displayName}" th:href="${tag.status.permalink}"></a>
        </th:block>
      </p>
      <th:block th:utext="${post.content.content}"></th:block>
      <p class="post-info">
        本文由 <a href="${site.url}"><b>
            <th:block th:text="${site.title}"></th:block>
          </b></a> 提供，采用 <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank"
          rel="external nofollow">知识共享署名4.0</a>
        国际许可协议进行许可<br>本站文章除注明转载/出处外，均为本站原创或翻译，转载前请务必署名<br>最后编辑时间为:
        <th:block th:text="${#dates.format(post.status.lastModifyTime, 'YYYY年MM月dd日')}" />
      </p>
    </div>
    <div style="padding: 20px 0; border-top: 1px solid #e0e0e0;">评论:</div>
    <halo:comment group="content.halo.run" kind="Post" th:attr="name=${post.metadata.name}" colorScheme="'light'" />
  </article>
  <div id="post-bottom-bar" class="post-bottom-bar">
    <div class="bottom-bar-inner">
      <div class="bottom-bar-items social-share left">
        <span class="bottom-bar-item">Share : </span>
        <span class="bottom-bar-item bottom-bar-facebook">
          <a th:href="|https://www.facebook.com/sharer/sharer.php?u=${#strings.substring(site.url,0,#strings.length(site.url)-1)}${post.status.permalink}|"
            target="_blank" th:title="${post.spec.title}" rel="nofollow">
            facebook
          </a>
        </span>
        <span class="bottom-bar-item bottom-bar-twitter">
          <a th:href="|https://twitter.com/intent/tweet?url=${#strings.substring(site.url,0,#strings.length(site.url)-1)}${post.status.permalink}&text=${post.spec.title}|"
            target="_blank" th:title="${post.spec.title}" rel="nofollow">
            Twitter
          </a>
        </span>
        <span class="bottom-bar-item bottom-bar-weibo">
          <a th:href="|http://service.weibo.com/share/share.php?url=${#strings.substring(site.url,0,#strings.length(site.url)-1)}${post.status.permalink}&amp;title=${post.spec.title}|"
            target="_blank" th:title="${post.spec.title}" rel="nofollow">
            Weibo
          </a>
        </span>
        <!-- 这个要添加什么配置 -->
        <span class="bottom-bar-item bottom-bar-qrcode">
          <a th:href="|//pan.baidu.com/share/qrcode?w=300&amp;h=300&amp;url=${#strings.substring(site.url,0,#strings.length(site.url)-1)}${post.status.permalink}|"
            target="_blank" rel="nofollow">
            QRcode
          </a>
        </span>
      </div>
      <div class="bottom-bar-items right">
        <th:block th:with="postCursor = ${postFinder.cursor(post.metadata.name)}">
          <span class="bottom-bar-item" th:if="${postCursor.hasPrevious()}">
            <a th:href="@{${postCursor.previous.status.permalink}}" th:title="${postCursor.previous.spec.title}">←</a>
          </span>
          <span class="bottom-bar-item" th:if="${postCursor.hasNext()}">
            <a th:href="@{${postCursor.next.status.permalink}}" th:title="${postCursor.next.spec.title}">→</a>
          </span>
        </th:block>

        <span class="bottom-bar-item"><a href="#footer">↓</a></span>
        <span class="bottom-bar-item"><a href="#">↑</a></span>
      </div>
    </div>
  </div>
</th:block>

</html>