<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = | 标签 - ${tag.spec.displayName}|,content = ~{::content})}">
<th:block th:fragment="content">
  <div class="main-content common-page clearfix">
    <div class="common-item">
      <div class="common-title" th:text="${tag.spec.displayName}">
      </div>
      <div class="post-lists">
        <div class="post-lists-body">
          <th:block th:if="${not #lists.isEmpty(posts.items)}">
            <div class="post-list-item" th:each="post : ${posts}">
              <div class="post-list-item-container <#if settings.post_color!false>bg-<@fun.randBgColor/></#if>">
                <div class="item-label <#if settings.post_color!false>bg-<@fun.randBgColor/></#if>">
                  <div class="item-title"><a th:href="${post.status.permalink}" th:text="${post.spec.title}"></a></div>
                  <div class="item-meta clearfix">
                    <div class="item-meta-ico bg-ico-<@fun.randBgIco/>"
                      style="background: url(${theme_base!}/source/images/bg-ico.png) no-repeat;background-size: 40px auto;">
                    </div>
                    <div class="item-meta-date">
                      <th:block th:text="${#dates.format( post.metadata.creationTimestamp, 'yyyy年MM月dd日')}">
                      </th:block>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
          <th:block th:if="${#lists.isEmpty(posts.items)}">
            <div class="post-list-item">没有找到内容,请换别的关键字进行检索</div>
          </th:block>
        </div>
      </div>
    </div>
    <th:block th:replace="~{modules/widgets/navigator :: navigator(${category.status.permalink}+'/')}"></th:block>
  </div>


</th:block>

</html>