<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = | 标签归档 |,content = ~{::content})}">
<th:block th:fragment="content">
  <div class="main-content page-page">
    <div class="search-page">
      <th:block th:if="${pluginFinder.available('PluginSearchWidget')}">
        <a id="search" class="search-form" href="javascript:SearchWidget.open()">
          <span class="search-box clearfix">
            <div type="text" id="input" class="input">
              search...
            </div>
            <button type="submit" class="spsubmit"><i class="icon-search"></i></button>
          </span>
        </a>
      </th:block>
      <div class="search-tags">
        <th:block th:if="${not #lists.isEmpty(tags)}">
          <p>👇 The following tabs can help you!</p>
          <th:block th:each="tag : ${tags}">
            <a th:href="${tag.status.permalink}" th:text="|# ${tag.spec.displayName} (${tag.status.visiblePostCount})|"
              class="<#if !settings.post_color!false> bg-white<#else >text-white bg-<@fun.randBgColor/></#if>">
            </a>
          </th:block>
        </th:block>
        <th:block th:if="${ #lists.isEmpty(tags)}">
          <p> Nothing here ! </p>
        </th:block>
        <div class="search-tags-hr <#if !settings.post_color!false>bg-deepgrey<#else>bg-<@fun.randBgColor/></#if>">
        </div>
      </div>
    </div>
  </div>
</th:block>

</html>